.navBible {
    width: 100%;
    position: sticky;
    height: 4em;
    border-bottom: .2em solid black;
    display: flex;
    align-items: center;
    ul {
        display: flex;
        justify-content: space-between;
        div {
            display: flex;
            height: 90%;
            li {
                width: 12vw;
                transition: .3s ease-in-out;
                &:active, &.actif {
                    font-weight: bolder;
                }
            }
            &:last-of-type {
                li {
                    width: 4vw;
                    img {
                        color: white;
                    }
                }
            }
        }
    }
}

.resultat {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}
.bible-resultat {
    display: flex;
    flex-direction: column;
    .Recherche {
        position: relative;
        .ais-SearchBox {
            position: absolute;
            width: 100%;
            top: -3.5em;
            form {
                position: absolute;
                right: 0%;
                display: flex;
            }
        }
        .ais-Hits-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            height: 50em;
        }

    }
}