.menu {
    display: flex;
    justify-content: flex-end;
    margin: .2em 0 2em 0;
    span {
        margin-left: 1em;
        display: flex;
        justify-content: center;
        input {
            border: .2em solid black;
            height: 100%;
            width: 100%;
    
        }
    }
    .logoCompte {
        img {
            color: white;
        }
    }
}