@import '../../Css/mixins/flex';
@import '../../Css/mixins/colors';

.infosPerso {
    width: 100%;
    padding: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $Charcoal;
    article {
        text-align: center;
        color: white;
        h1 {
            font-family: 'Bungee Shade', cursive;
            font-size: 3em;
            // height: 3em;
            margin: .5em;
        }
    }
}.infos-profile {
    display: flex;
    margin: 2em;
    height: auto;
}
.nav {
    width: 30%;
    height: 60vh;
    ul {
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        border: .2em solid black;
        li {
            font-size: 1.2em;
            position: relative;
            width: 100%;
            text-align: center;
            padding: 1em;
            // height: 100%;
            // &::after {
            //     content: "";
            //     background-color: $pureWhite;
            //     width: 100%;
            //     height: .2em;
            //     position: absolute;
            //     left: 0;
            //     bottom: -.4em;
            // }
            &.On {
                font-weight: bolder;
                background-color: $orange;
                border: .2em solid $brown;
                color: white;
                
            }
            
        }
    }
    .mascotte {
        margin-top: 1em;
        position: unset;
        padding: 0;
        width: 80%;
        height: 50%;
        .pop-up {
            position: unset;
        }
        .img{
            width: 100%;
            height: 100%;
        }
    }
}
.sectionscompte {
    width: 70%;
    display: flex;
    height: 60vh;
    .box  {
        align-items: flex-start;
        border: .2em solid black;
        background-color: rgb(36, 36, 36);
        color: white;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            text-align: center;
            width: 100%;
            font-size: 1.5em;
            margin-top: .5em;
            font-weight: bolder;

        }
    }
}