@import '../../Css/mixins/colors';

.boxJeu {
    width: 14vw;
    height: 14vw;
    margin: 1em;
    border: 1px solid black;
    text-align: center;
    .img {
        color: white;
        height: 90%;
    }
    .nom {
        background-color: $pureWhite;
    }
}