.boxJeu {
    width: 14vw;
    height: 14vw;
    margin: 1em;
    border: 1px solid black;
    text-align: center;
    .img {
        background-color: black;
        color: white;
        height: 90%;
    }
    .nom {

    }
}