.liste {
    margin: 1em auto;
    width: 60%;
    height: auto;
    .go-bible {
        color: black;
        width: 100%;
        border: .2em solid black;
    }
    .item-list {
        font-size: 1em;
        border: .2em solid white;
    }
}